[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
  ignore = untracked
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
  ignore = untracked
[submodule "bundle/kwbdi"]
	path = bundle/kwbdi
	url = https://github.com/vim-scripts/kwbdi.vim.git
  ignore = untracked
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
  ignore = untracked
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
  ignore = untracked
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
  ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
  ignore = untracked
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
  ignore = untracked
[submodule "bundle/vim-git-log"]
	path = bundle/vim-git-log
	url = https://github.com/vim-scripts/vim-git-log.git
  ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
  ignore = untracked
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
  ignore = untracked
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
  ignore = untracked
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
  ignore = untracked
[submodule "bundle/vim-numbertoggle"]
	path = bundle/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
  ignore = untracked
  ignore = untracked
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
  ignore = untracked
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
  ignore = untracked
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
  ignore = untracked
[submodule "bundle/IndexedSearch"]
	path = bundle/IndexedSearch
	url = https://github.com/vim-scripts/IndexedSearch
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/javascript-libraries-syntax"]
	path = bundle/javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "bundle/vim-addon-local-vimrc"]
	path = bundle/vim-addon-local-vimrc
	url = https://github.com/MarcWeber/vim-addon-local-vimrc.git
[submodule "bundle/Rename"]
	path = bundle/Rename
	url = git://github.com/vim-scripts/Rename.git
[submodule "bundle/vim-bitbake"]
	path = bundle/vim-bitbake
	url = https://github.com/kergoth/vim-bitbake.git
[submodule "bundle/scratch.vim"]
	path = bundle/scratch.vim
	url = https://github.com/vim-scripts/scratch.vim.git
